@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --red: #9C2938;
  --gray: #747474;
  --white: #FCFCFC;
  --pink: #FFE4E3;
  --black: #000000;
}

*, *::after, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
html{
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, a{
    font-family: 'PT Sans Caption', sans-serif;
    color: var(--black);
}
h1{
  color: var(--white);
  font-size: clamp(2rem, 3vw, 3rem);
  padding: 5px;
}
h2{
  text-align: center;
  font-size: clamp(1.7rem, 2.5vw, 2.5rem);
  color: var(--red);
}
h3{
  color: var(--red);
}
h2, h3, h4 {
  padding: 20px 40px;
}
p{
    font-family: 'PT Sans', sans-serif;
    color: var(--gray);
    padding: 3px 40px;
}

@media screen and (max-width: 768px) {
  h2, h3, h4 {
    padding: 20px;
  }
  p{
    padding: 3px 25px;
  }
}

/* Header */
header {
  background-color: var(--white);
  position: fixed;
  width: 200px;
  z-index: 99;
  box-shadow: 0 0 1px 0 var(--gray);
  }
  .navbar {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-basis: 80%;
  }
  .nav-branding {
    display: block;
    padding: 10px;
    flex-basis: 10%;
    background-color: var(--white);
  }
  .nav-branding img{
    max-width: 100%;
  }
  .nav-item{
    width: 100%;
    flex-basis: 100%;
  }
  .nav-item div a{
    color: var(--red);
  }
  .nav-link {
    transition: 0.7s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    color: var(--black);
    transition: 0.5 s;
    height: 100%;
  }
  .nav-link:hover {
    color: var(--red);
    opacity: 90%;
  }
  .nav-link span{
    display: block;
  }
  .nav-link img{
    max-width: 25px;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
  }
  @media (max-width: 768px) {
    header{
      width: 100%;
      background-color: var(--black);
    }
    .navbar{
      height: 70px;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 24px;
    }
    .nav-menu{
      justify-content: flex-start;
      background-color: var(--white);
      z-index: 100;
    }
    .hamburger {
      display: block;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      bottom: 0;
      flex-direction: column;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }
    .nav-menu.active {
      left: 0;
    }
  }
  section {
    min-height: 100vh;
    margin-left: 200px;
    padding: 50px 0;
    position: relative;
    z-index: 10;
  }
  @media screen and (max-width: 768px){
      section{
        margin-left: 0;
      }
  }

  /* Banner */
  #home{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),url(img/TITULNA\ FOTO.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
  }
  .banner{
    width: 100%;
    height: 100vh;
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .banner i{
    font-size: clamp(1.5rem, 2vw, 2rem);
    opacity: 90%;
  }
  .hero-btn{
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--red);
    display: block;
    text-align: center;
    border: 1px solid var(--white);
    transition: all 1s ease-in-out;
    border-radius: 1%;
    font-size: clamp(1.6rem, 1.8vw, 1.8rem);
  }
  .hero-btn:hover{
    opacity: 90%;
  }

  @media screen and (max-width: 768px) {
    .banner{
      padding-left: 0;
      align-items: center;
      text-align: center;
    }
    
  }

  /* About */

  #about-us{
    background-color: var(--white);
    padding: 50px 0;
  }
  .description{
    text-align: center;
  }
.container-full{
  width: 100%;
  padding: 40px 0 30px;
}
.box-text{
  padding-left: 30px;
  padding-bottom: 30px;
}
.box-img{
  height: 400px;
  background-image: url(img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 0 10px;
}
.flex-box div{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-box img{
  max-width: 100px;
}

@media screen and (max-width: 768px) {
  .box-img{
    height: 200px;
    width: 100%;
    background-size: cover;
  }
  .flex-box{
    flex-direction: column;
  }
  .flex-box div{
    padding-bottom: 30px;
  }
  .flex-box img{
    max-width: 50%;
  }
}

/* Services */
#types, #booking, #contact, #footer{
  background-color: var(--white);
}

#services{
  background-color: var(--pink);
}
.service{
  margin: 30px auto 0;
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  .flex-box div{
    margin-bottom: 30px;
  }
}
/* Booking */
#booking{
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/background2.jpg);
  background-position: center;
  background-size: cover;
}
#booking h2{
  color: var(--white);
}
.container-form{
  width: 50%;
  margin: 30px auto;
}
input, textarea{
  width: 100%;
  padding: 5px;
  font-size: 1.3rem;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 15px;
  margin-top: 5px;
  outline: none;
}
input:focus, textarea:focus{
  box-shadow: 0 0 1px 1px var(--red);
}
label{
  font-size: 1.3rem;
  color: var(--white);
  opacity: 80%;
}
form button{
  display: block;
  width: 100%;
  cursor: pointer;
}

/* Contact */
.flex-box a{
  color: var(--red);
  padding-top: 5px;
}

/* Footer */
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  padding-top: 40px;
  border-top: 0.3px solid var(--gray);
  margin-top: 40px;
}
.footer div{
  flex-basis: 35%;
  padding-bottom: 40px;
}
.footer img{
  max-width: 150px;
  display: block;
  margin: 10px auto;
  border: 1px solid var(--black);
}
.footer-bottom{
  border-top: 0.3px solid var(--gray);
  color: var(--gray);
  text-align: center;
  padding: 10px;
  font-size: .8rem;
}

.animation{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    gray 0%,
    white 29%,
    gray 67%,
    white 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 768px) {
  .container-form{
    width: 90%;
    margin: 30px auto;
  }
  .flex-box img{
    max-width: 100px;
  }
  .footer{
    flex-direction: column;
  }
  .footer img{
    display: inline-block;
    margin-right: 10px;
  }
  h2{
    margin-top: 20px;
  }
}